<nav class="mobile-bottom-nav">
  <div class="mobile-bottom-nav__item @@home">
    <div class="mobile-bottom-nav__item-content">
      <a style="color: inherit;" href="../dashboards/dashboard.html">
        <i class="fas fa-home"></i>
        Home
      </a>
    </div>		
  </div>
  <div class="mobile-bottom-nav__item @@resume">
    <div class="mobile-bottom-nav__item-content">
      <a style="color: inherit;" href="../examples/profile.html">
        <i class="fas fa-id-card"></i>
        Resume
      </a>
    </div>		
  </div>
  <div class="mobile-bottom-nav__item">		
    <div class="mobile-bottom-nav__item-content">
      <a style="color: inherit;" target="_blank" href="../../../front/pages/index.html">
        <i  class="fas fa-search"></i>
        Search
      </a>
    </div>
  </div>
  <div class="mobile-bottom-nav__item @@preference">
    <div class="mobile-bottom-nav__item-content">
      <a style="color: inherit;"  href="../examples/preference.html">
        <i class="fas fa-user-cog"></i>
        Preference
      </a>
    </div>		
  </div>
  
  <div class="mobile-bottom-nav__item @@apply">
    <div class="mobile-bottom-nav__item-content">
      <a style="color: inherit;"  href="../examples/admin-jobs.html">
        <i  class="fas fa-key"></i>
        Apply
      </a>
    </div>		
  </div>
</nav>