<nav class="mobile-bottom-nav">
  <div class="mobile-bottom-nav__item @@home">
    <div class="mobile-bottom-nav__item-content">
      <a style="color: inherit;" href="@@path_common/dashboard/pages/dashboards/dashboard.html">
        <i class="fas fa-home"></i>
        Home
      </a>
    </div>		
  </div>
  <div class="mobile-bottom-nav__item @@resume">
    <div class="mobile-bottom-nav__item-content">
      <a style="color: inherit;" href="@@path_common/dashboard/pages/examples/view-internal-resume.html">
        <i class="fas fa-id-card"></i>
        Resume
      </a>
    </div>		
  </div>
  <div class="mobile-bottom-nav__item @@search">		
    <div class="mobile-bottom-nav__item-content">
      <a style="color: inherit;" href="@@path_common/index.html">
        <i  class="fas fa-search"></i>
        Search
      </a>
    </div>
  </div>
  <div class="mobile-bottom-nav__item @@skill">
    <div class="mobile-bottom-nav__item-content">
      <a style="color: inherit;"  href="@@path_common/dashboard/pages/examples/skill-development.html">
        <i class="fas fa-user-cog"></i>
        Learn
      </a>
    </div>		
  </div>
  
  <div class="mobile-bottom-nav__item @@apply">
    <div class="mobile-bottom-nav__item-content">
      <a style="color: inherit;"  href="@@path_common/dashboard/pages/examples/admin-jobs.html">
        <i  class="fas fa-key"></i>
        Apply
      </a>
    </div>		
  </div>
</nav>