<ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a href="../../../index.html" class="nav-link">
        <span class="nav-link-inner--text">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="../../pages/examples/login.html" class="nav-link">
        <span class="nav-link-inner--text">Login</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="../../pages/examples/register.html" class="nav-link">
        <span class="nav-link-inner--text">Register</span>
      </a>
    </li>
  </ul>