<!-- @@path_common/dashboard/pages/examples/postJob.html -->
<nav class="navbar navbar-top navbar-transparent navbar-main navbar-expand-lg navbar-light @@bgColorClass">
  <div class="container">
    <a class="navbar-brand" href="@@path_common/index.html">
      <img src="@@path_common/dashboard/assets/img/brand/dark.svg" height="35" alt="Logo EDBY">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse navbar-custom-collapse collapse" id="navbar-collapse">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a href="@@path_common/index.html">
              <img src="@@path_common/dashboard/assets/img/brand/dark.svg" height="40">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="@@path_common/index.html" class="nav-link">
            <span class="nav-link-inner--text">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="@@path_common/dashboard/pages/examples/login.html" class="nav-link">
            <span class="nav-link-inner--text">Login</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="@@path_common/dashboard/pages/examples/register.html" class="nav-link">
            <span class="nav-link-inner--text">Register</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="@@path_common/dashboard/pages/examples/postJob.html"
            class="nav-link">
            <i class="fas fa-paper-plane mr-2"></i> Post Job
          </a>
        </li>
      </ul>
      <hr class="d-lg-none" />
      
    </div>
  </div>
</nav>