<!-- Core -->
<script src="@@path/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="@@path/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="@@path/assets/vendor/js-cookie/js.cookie.js"></script>
<script src="@@path/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="@@path/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<!-- Optional JS -->
<!-- <script src="@@path/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="@@path/assets/vendor/chart.js/dist/Chart.extension.js"></script> -->
<!-- Argon JS -->
<script src="@@path/assets/js/dashboard.js?v=1.2.0"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-messaging.js"></script>
<script>
    var firebaseConfig = {
        apiKey: "AIzaSyAUj7DWC0s0qt3_cwYvXf5fcvcJbnP9DuA",
        authDomain: "job-portal-8aa59.firebaseapp.com",
        projectId: "job-portal-8aa59",
        storageBucket: "job-portal-8aa59.appspot.com",
        messagingSenderId: "593914624373",
        appId: "1:593914624373:web:7bc7ac934dfa34b74ffb3c",
        measurementId: "G-95NCG2QDWL"
    };
    firebase.initializeApp(firebaseConfig);
    const messaging = firebase.messaging();
</script>