// Bootstrap functions
@import 'bootstrap/functions';
@import "bootstrap/mixins";

// Argon functions
@import "custom/functions";
@import "custom/variables";
@import "bootstrap/variables";

// Argon mixins
@import "custom/mixins";

// Bootstrap components
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/utilities";
@import "bootstrap/print";

// Argon components
@import 'custom/components';
@import 'custom/utilities';
@import 'custom/vendors';
.what-button{
    width:40px;
    height:40px;
    background-color:#25D366;
    color:#FFF;
    border-radius:25px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.post-tag{
    color: #000000;
    background-color: #8ecbcf;
    border-color: #00000000;

    display: inline-block;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 14px;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}

.checked {
    color: orange;
}

.mobile-bottom-nav{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:1000;
	
	//give nav it's own compsite layer
	will-change:transform;
	transform: translateZ(0);
	
	display:flex;	
	
	height:70px;
	
	box-shadow: 0 -2px 5px -2px rgb(128, 128, 128);
	background-color:#243c64;
	
	&__item{
		flex-grow:1;
		text-align:center;
		font-size:18px;
		
		display:flex;
		flex-direction:column;
		justify-content:center;
		color:#FFF;
	}
	&__item--active{
		//dev
		color:rgb(9, 100, 219) !important;
        font-weight: bolder !important;
	}
	&__item-content{ 
		display:flex;
		flex-direction:column;	
        font-weight: lighter !important;	
	}
}

.gedf-wrapper {
	margin-top: 0.97rem;
}

@media (min-width: 992px) {
	.gedf-main {
		padding-left: 4rem;
		padding-right: 4rem;
	}
	.gedf-card {
		margin-bottom: 2.77rem;
	}
}

.customLightBrown {
	background-color:  #c0a633;
}