<!-- Primary Meta Tags -->
<title>@@title</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="@@title">

<!-- Canonical SEO -->
<link rel="canonical" href="https://www.edbylearning.com/" />

<!--  Social tags      -->
<meta name="keywords" content="edby job portal, teacher, resume, hiring, school, university, jobs, placement, tution, teaching, learning, icons, icons, map, chat, carousel, menu, datepicker, gallery, slider, date, sidebar, social, dropdown, search, tab, nav, footer, date picker, forms, tabs, time, button, select, input, timeline, cart, car, fullcalendar, about us, invoice, account, chat, log in, blog, profile, portfolio, landing page, ecommerce, shop, landing, register, app, contact, one page, sign up, signup">
<meta name="description" content="Edby teacher job portal helps you find teaching job in your preferred location and subject. We have international and national job posting for teachers. Jobs postings are credible and freely available.">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Job Portal by EDBY">
<meta itemprop="description" content="Edby teacher job portal helps you find teaching job in your preferred location and subject. We have international and national job posting for teachers. Jobs postings are credible and freely available.">

<!-- <meta itemprop="image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/impact-design-system/impact-design-system-thumbnail.jpg"> -->

<!-- Twitter Card data -->
<meta name="twitter:card" content="product">
<meta name="twitter:site" content="@edbylearning">
<meta name="twitter:title" content="Job Portal by EDBY">

<meta name="twitter:description" content="Edby teacher job portal helps you find teaching job in your preferred location and subject. We have international and national job posting for teachers. Jobs postings are credible and freely available.">
<meta name="twitter:creator" content="@edbylearning">
<!-- <meta name="twitter:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/impact-design-system/impact-design-system-thumbnail.jpg"> -->


<!-- Open Graph data -->
<!-- <meta property="fb:app_id" content="655968634437471">
<meta property="og:title" content="Job Portal by EDBY" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://www.edbylearning.com/" />
<meta property="og:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/impact-design-system/impact-design-system-thumbnail.jpg"/>
<meta property="og:description" content="Edby teacher job portal helps you find teaching job in your preferred location and subject. We have international and national job posting for teachers. Jobs postings are credible and freely available." />
<meta property="og:site_name" content="EDBY" /> -->

<!-- Favicon -->
<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="@@path/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="@@path/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="@@path/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="@@path/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="@@path/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Fontawesome -->
<link type="text/css" href="@@path_common/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Nucleo icons -->
<link rel="stylesheet" href="@@path_common/dashboard/assets/vendor/nucleo/css/nucleo.css" type="text/css">

<!-- Prism -->
<link type="text/css" href="@@path_common/vendor/prismjs/themes/prism.css" rel="stylesheet">

<!-- Front CSS -->
<link type="text/css" href="@@path/css/front.css" rel="stylesheet">

@@include('./_tracking.html')