<div class="my-3">
    <div class="input-group-prepend">
        <select   id="positionSearch" class="form-control"  name="country">
            <option value="">Select Designation</option>
            <option value="teacher">Teacher</option>
            <option value="princi">Principal</option>
            <option value="librarian">Librarian</option>
            <option value="accountant">Accountant</option>
            <option value="vice princi">Vice Principal</option>
            <option value="master">Head Master</option>
            <option value="nurse">Nurse</option>
            <option value="staff">Staff</option>
            <option value="superintendent">Superintendent</option>
            <option value="gym trainer">Gym Trainer</option>
            <option value="counselor">Counselor</option>
            <option value="receptionist">Receptionist</option>
            <option value="warden">Warden</option>
        </select>
    </div>
</div>
