<div class="my-3">
    <div class="input-group-prepend">
        <select   id="subjectSearch" class="form-control"  name="subject">
            <option value="">Select Subject</option>
            <option value="">All Subject</option>
            <option value="english">English</option>
            <option value="hindi">Hindi</option>
            <option value="urdu">Urdu</option>
            <option value="arabic">Arabic</option>
            <option value="math">Maths</option>
            <option value="science">Science</option>
            <option value="account">Accounts</option>
            <option value="buisness">Buisness Studies</option>
            <option value="art">Arts</option>
            <option value="dance,art">Dance</option>
            <option value="music,art">Music</option>
            <option value="social">Social Studies</option>
            <option value="biology">Biology</option>
            <option value="physics">Physics</option>
            <option value="chemistry">Chemistry</option>
            <option value="computer">Computer</option>
            <option value="receptionist">Political Science</option>
            <option value="psycho">Psychology</option>
            <option value="french">French</option>
            <option value="spanish">Spanish</option>
            <option value="marathi">Marathi</option>
            <option value="tamil">Tamil</option>
        </select>
    </div>
</div>
